.app {
  width: 100%;
  margin: 0 auto 0;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  align-items: center;
  min-height: 100vh;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  background-image: url(bground.jpg);
  background-size: cover;
  color: black;
  text-align: center;
}

@media (max-width: 768px) {
  .app {
    padding: 1rem 0.5rem;
  }
}






